<% provide(:title, @category.name) %>
<div class="main-wrapper">
  <%= render "/shared/light_section_header", heading: @category %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render "side_bar", taxonomies: @taxonomies %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render "filter_area" %>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12" id="productLink">
                <%= link_to potepan_product_url(product.id) do %>
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <%= image_tag product.display_image.attachment(:large), :alt => "products-img" %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_price %></h3>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render "/shared/light_section_footer" %>
