<% provide(:title, @product.name) %>

<!-- LIGHT SECTION -->
<%= render "/shared/light_section_header", heading: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @product.images.each_with_index do |image, i| %>
                  <div class="item <%="active" if i.zero? %>" data-thumb="<%= i %>">
                    <%= image_tag image.attachment(:large) %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |image, i| %>
                    <div data-target="#carousel" class="thumb" data-slide-to="<%= i %>">
                      <%= image_tag image.attachment(:large) %>
                    </div>
                  <% end %>
                </div>
                <%= link_to("#thumbcarousel", class: "left carousel-control", 'role': "button", 'data-slide': 'prev') do %>
                  <span class="glyphicon glyphicon-chevron-left"></span>
                <% end %>
                <%= link_to("#thumbcarousel", class: "right carousel-control", 'role': "button", 'data-slide': 'next') do %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to(back_to_index(@product)) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>
                  一覧ページへ戻る
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <span class="quick-drop">
              <select name="guiest_id3" id="guiest_id3" class="select-drop">
                <option value="0">S</option>
                <option value="1">M</option>
                <option value="2">L</option>
                <option value="3">XL</option>
              </select>
            </span>
            <span class="quick-drop resizeWidth">
              <select name="guiest_id4" id="guiest_id4" class="select-drop">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </span>
            <div class="btn-area">
              <%= link_to("cart_page.html", class: "btn btn-primary btn-block") do %>
                カートへ入れる
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <!-- RELATED PRODUCT SECTION -->
      <%= render partial: "related_product", collection: @related_products %>
    </div>
  </div>
</section>
