<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= heading.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li class="active">
            <%= taxon_breadcrumbs(heading) %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
