<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li>
              <%= link_to("#") do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to("#") do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li class="dropdown searchBox">
              <%= link_to("javascript:void(0)", class: "dropdown-toggle", 'data-toggle': :dropdown) do %>
                <i class="fa fa-search"></i>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right">
                <form  id="form01" action="product-grid-left-sidebar.html" method="post">
                  <li>
                    <span class="input-group">
                      <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                      <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                    </span>
                  </li>
                </form>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to(potepan_cart_page_url, class: "dropdown-toggle", 'data-toggle': "dropdown disabled") do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-main navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(potepan_url, class: "navbar-brand") do %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <%= link_to "Home", potepan_url %>
        </li>
        <li class="dropdown megaDropMenu">
          <%= link_to "Shop", "javascript:void(0)", class: 'dropdown-toggle', 'data-toggle': :dropdown, 'data-hover': :'dropdown', 'data-delay': :'300', 'data-close-others': :'true', 'aria-expanded': :'false' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
